spoc/pkg/*
spoc/output.jpg
spoc/Makefile
spoc/images
ui-server/Gemfile.lock
ui-server/config/database.yml
*.log
*.o
*.so
*~
*.class
*.lock
research/recognition/detectface
research/recognition/detectperson
research/recognition/eigen
research/recognition/people/s*/*
research/recognition/facedata.xml
runner/config/detect_settings.rb
runner/config/image_settings.rb
