# detection-gems ---------------------------------------------------------------
detection-gems/ruby-opencv/curve.o
detection-gems/ruby-opencv/cvavgcomp.o
detection-gems/ruby-opencv/cvbox2d.o
detection-gems/ruby-opencv/cvcapture.o
detection-gems/ruby-opencv/cvchain.o
detection-gems/ruby-opencv/cvchaincode.o
detection-gems/ruby-opencv/cvcircle32f.o
detection-gems/ruby-opencv/cvcondensation.o
detection-gems/ruby-opencv/cvconnectedcomp.o
detection-gems/ruby-opencv/cvcontour.o
detection-gems/ruby-opencv/cvcontourtree.o
detection-gems/ruby-opencv/cvconvexitydefect.o
detection-gems/ruby-opencv/cverror.o
detection-gems/ruby-opencv/cvfont.o
detection-gems/ruby-opencv/cvhaarclassifiercascade.o
detection-gems/ruby-opencv/cvhistogram.o
detection-gems/ruby-opencv/cvindex.o
detection-gems/ruby-opencv/cvline.o
detection-gems/ruby-opencv/cvmat.o
detection-gems/ruby-opencv/cvmatnd.o
detection-gems/ruby-opencv/cvmemstorage.o
detection-gems/ruby-opencv/cvmoments.o
detection-gems/ruby-opencv/cvpoint.o
detection-gems/ruby-opencv/cvpoint2d32f.o
detection-gems/ruby-opencv/cvpoint3d32f.o
detection-gems/ruby-opencv/cvrect.o
detection-gems/ruby-opencv/cvscalar.o
detection-gems/ruby-opencv/cvseq.o
detection-gems/ruby-opencv/cvset.o
detection-gems/ruby-opencv/cvsize.o
detection-gems/ruby-opencv/cvsize2d32f.o
detection-gems/ruby-opencv/cvslice.o
detection-gems/ruby-opencv/cvsparsemat.o
detection-gems/ruby-opencv/cvtermcriteria.o
detection-gems/ruby-opencv/cvtwopoints.o
detection-gems/ruby-opencv/cvvector.o
detection-gems/ruby-opencv/cvvideowriter.o
detection-gems/ruby-opencv/gui.o
detection-gems/ruby-opencv/iplconvkernel.o
detection-gems/ruby-opencv/iplimage.o
detection-gems/ruby-opencv/mkmf.log
detection-gems/ruby-opencv/mouseevent.o
detection-gems/ruby-opencv/opencv.o
detection-gems/ruby-opencv/opencv.so
detection-gems/ruby-opencv/point3dset.o
detection-gems/ruby-opencv/pointset.o
detection-gems/ruby-opencv/trackbar.o
detection-gems/ruby-opencv/window.o
detection-gems/ruby-opencv/Makefile

detection-gems/cvwrapper-gem/cvwrapper-0.0.1.gem
detection-gems/encrypt-gem/encrypt-0.0.1.gem

detection-gems/light-opencv-wrapper/pkg/*

# detection-base ---------------------------------------------------------------
detection-base/public/images/cache/*
detection-base/tmp/*
detection-base/log/*
detection-base/config/database.yml

# detection-api ----------------------------------------------------------------
detection-api/tmp/*
detection-api/log/*
detection-api/config/database.yml

# detection-runner -------------------------------------------------------------
detection-runner/config/database.yml
detection-runner/Gemfile.lock
detection-runner/public/images/*
