spoc/pkg/*
spoc/output.jpg
spoc/Makefile
spoc/images
ui-server/Gemfile.lock
ui-server/config/database.yml
runner/settings.rb
*.log
*.o
*.so
*~
*.class
research/recognition/detectface
research/recognition/detectperson
research/recognition/eigen
research/recognition/people/s*
research/recognition/facedata.xml
