body {
  color:#000;
  font-family:helvetica, sans-serif;
  font-size:100%;
  line-height:1.25;
  background-color:#fff;
  margin:0;
  padding:0;
}

#head {
  text-align:center;
}

#head h1 a, #head h1 a:link, #head h1 a:visited, #head h1 a:hover {
  color:#100;
  text-decoration:none;
}

#head ul {
  font-size:1.1em;
  font-family:"lucida console", "monaco", "andale mono", "bitstream vera sans mono",
    "consolas", monospace;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:2px;
  text-align:center;
  margin:0;
  padding:0 40px 0.25em 40px;
}

#head ul li {
  display:inline;
  list-style-type:none;
  padding:0 0.5em 0 0;
}

#head ul a, #head ul a:link, #head ul a:visited {
  color:#56534f;
  text-decoration:none;
}

#head ul a:hover {
  color:#000;
  text-decoration:underline
}

#content {
  color:#111;
  max-width:52em;
  min-width:27em;
  margin:7px auto;
  border-top:2px solid #837d7c;
  border-bottom:2px solid #837d7c;
  padding-top:10px;
}

#footer {
  color:#111;
  max-width:52em;
  min-width:27em;
  margin:7px auto;
  padding-top:10px;
  text-align: center;
}

.thumbnails {}

.thumbnails img {
  margin: 10px;
  border: 3px solid #000000;
  height: 70px;
  width: auto;
  opacity:0.75;
  filter:alpha(opacity=75)
}

.thumbnails img:hover {
  opacity:1.0;
  filter:alpha(opacity=100)
}

h3 {
  color:#000;
  font-size:1.1em;
  letter-spacing:-1px;
  margin:1.8em 0 -0.25em 0;
}

h3 a { color:#000 }

a {
  color:#000;
  text-decoration:underline;
}

a:hover {
  color:#910;
  text-decoration:underline;
}

a img {
  border:none;
}

code, pre, textarea, tt {
  font-family:"lucida console", "monaco", "andale mono", "bitstream vera sans mono",
    "consolas", monospace;
}

pre {
  font-size:0.85em;
  background:#f4f5f5;
  border:2px solid #d5d0d2;
  padding:0.5em;
  line-height:1.15;
  color:#111;
  overflow: auto;
}

p.warning {
  font-size:0.85em;
  background:#f4f5f5;
  border:2px solid #d5d0d2;
  padding:0.5em;
  line-height:1.15;
  color:#111;
  overflow: auto;
}

code, tt {
  font-size:0.85em;
  color:#222;
}

pre code {
  font-size:1em;
  color:#222;
}

input#urlbox {
  width: 90%;
}

.div_highlight {
  background:#f4f5f5;
  border:2px solid #d5d0d2;
  line-height:1.15;
  padding: 50px; 
  text-align: center;
}

.blurb {
  width: 780px;
  height: 300px;
  margin: 0 32px;
  position: relative;
}

.leftcolumn {
  position:absolute;
  left: 0px;
  width: 230px;
  text-align: justify;
}

.middlecolumn {
  position:absolute;
  left: 275px;
  width: 230px;
  text-align: justify;
}	

.rightcolumn {
  position:absolute;
  left: 550px;
  width: 230px;
  text-align: justify;
}

#detection {
  border: 3px solid #000000;
}
