<%= render :partial => "other_user_images", :locals => { :is_on_demo_page => true } %>
<center>
  <div id="main">
    <%= render :partial => "urlbox" %>
    <p class="warning" id="shout">Try one of the images above (that users scanned) or provide your own URL (to a jpeg)</p>
    <%= render :partial => "canvas" %>
  </div>
</center>
<script>
Event.observe(window, 'load', function() {
  $('urlbox').value = "<%= @demo_url %>";
  api.detect($('urlbox').value);
});
</script>
