<div class="div_highlight">
  <p>The API explained</p>
  <img src="/images/sample.png">
</div>
<div class="blurb">
  <h2>face detection made simple</h2>
  <div class="leftcolumn">
    <p>The API allows you to find the positions of frontal faces in JPEG images. Until now, there was no easy to way to do this. And it is only one HTTP request away.</p>
  </div>
  <div class="middlecolumn">
    <p>The API lets you tell it what image to analyze and returns coordinates of the faces found.</p>
    <p>To find out more about how the API works or how to use it, please read the <a href="/info">info</a> page or the <a href="http://github.com/mess110/detection/wiki" target="_new">wiki</a>.</p>
  </div>
  <div class="rightcolumn">
    <p>This is an open source project so feel free to contribute. Join the mailing list, report issues, fork the <a href="http://github.com/mess110/detection">github project</a> etc.</p>
    <p></p>
  </div>
</div>
