<%= render :partial => "other_user_images" %>
<center>
  <p class="warning" id="shout">Welcome to the face</p>
</center>
<center>
  <div id="main">
    <p class="warning">
      URL
      <input type="text" id="urlbox" value="URL to jpeg, jpg or png" onFocus="clearInput(this);"
          onKeyDown="if (event.keyCode == 13) api.detect($('urlbox').value);"/>
      <a href="javascript: api.detect($('urlbox').value);"><b>TEST</b></a><br />
    </p>
    <%= render :partial => "canvas" %>
  </div>
</center>
