<center><%= render :partial => "shared/donate" %></center>
<p><b>Big thanks to the fallowing open source communities for sparing me many many hours of coding time.</b></p>
<p>fratnation</p>
<p><a href="http://opencv.willowgarage.com/">opencv</a></p>
<p><a href="http://www.sinatrarb.com/">sinatra</a></p>
<p><a href="http://www.rubyonrails.org/">rails</a></p>

