<div id="signup">
  <table align="center">
    <tr>
      <td><img src="/images/grup.jpg" /></td>
      <td>
        <table align="center">
          <tr>
            <td>
              Email
              <input type="text" id="email" value=""/>
            </td>
          </tr>
          <tr>
            <td>
              Password
              <input type="password" id="pass" value=""/>
            </td>
          </tr>
          <tr>
            <td>
              Retype Password
              <input type="password" id="repass" value="" onKeyDown="if (event.keyCode == 13) auth();"/>
            </td>
          </tr>
          <tr>
            <td>
              <a href="javascript: auth();"><b>Authenticate</b></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
