<center>
  <div id="main">
    <p class="warning">
      <b>
        Your API Key: <input type="text" id="key" value="" class="userinfo"/>
        Your Secret: <input type="text" id="secret" value="" class="userinfo"/>
      </b>
      <br /><br />
      URL
      <input type="text" id="urlbox" value="URL to jpeg, jpg or png file" 
          onKeyDown="if (event.keyCode == 13) reqTest();"/>
      <a href="javascript: reqTest();"><b>TEST</b></a><br />
    </p>
    <canvas id="workingOn" width="600" height="50">
      Your Browser is <b>not supported</b>! We recommend Mozilla Firefox, Google Chrome or Opera
    </canvas>
  </div>
</center>
