<center><p class="warning" id="notice">Welcome to the FREE face detection API!! <br /><b>Login and Register with the form below!</b> (we do not care about or need any extra information and belive you don't have to give it away to use any type of service!)</p></center>

