<h3>API Overview</h3>
<P>Get your free API Key and Secret and start detecting <b>frontal faces</b> in PNG or JPEG images.</P>
<p>This service is free and it will stay free! If you want you can donate to help with hosting/beer fees. (student life is fun)</p>
<p>Below you will find examples on how to use the API and a list of clients.</p>
<h3>Clients</h3>
<p><a href="http://github.com/downloads/mess110/detection/DetectionJavaClient.jar"><img src="/images/java_icon.gif" /></a> Java Client - for all you Java enthusiasts out there!</p>
<p><a href="http://github.com/downloads/mess110/detection/detection-0.1.0.gem"><img src="/images/ruby_icon.jpg" /></a> Ruby Client - fine cut gem to help you consume!</p>
<p>More to come</p>
<h3>Examples usage - using <a href="http://curl.haxx.se/">curl</a></h3>
<p><b>auth method</b> - get your key and secret! (replace [YOUR_EMAIL] and [YOUR_PASSWORD])</p>
<pre>
<code>
curl -H "Content-Type: text/xml" -X GET 'http://detection.myvhost.de/auth/?email=[YOUR_EMAIL]&pass=[YOUR_PASSWORD]' -i
</code>
</pre>
Sample return for auth<br />
<code>
<pre>
<%= render :partial => "api/v1/auth.xml.builder", :locals => { :response => @auth_response } %>
</pre>
</code>
<br />
<p><b>detect method</b> - Initiate a new face detection request. (replace [YOUR_API_KEY], [YOUR_API_SECRET] and [YOUR_URL])</p>
<pre>
<code>
curl -u [YOUR_API_KEY]:[YOUR_API_SECRET] -H "Content-Type: text/xml" -X POST 'http://detection.myvhost.de/detect/new/?url=[YOUR_URL]' -i -L
</code>
</pre>
Sample return for detect<br />
<code>
<pre>
<%= render :partial => "api/v1/detect.xml.builder", :locals => { :response => @detect_response } %>
</pre>
</code>

