<H3>API Overview</H3>
<P>Get your free API Key and Secret and start detecting <b>frontal faces</b> in PNG or JPEG images.</P>
<p>This service is free and it will stay free! If you want you can donate to help with hosting/beer fees. (student life is fun)</p>
<p>Below you will find examples on how to use the API and a list of clients.</p>
<H3>Clients</H3>
<p><a href="http://github.com/downloads/mess110/detection/DetectionJava.jar"><img src="/images/java_icon.gif" /></a> Java Client - for all you Java enthusiasts out there!</p>
<p>Ruby: soon</p>
<p>More to come</p>
<H3>Examples - using <a href="http://curl.haxx.se/">curl</a></H3><br />
Get your key and secret! (replace [YOUR_EMAIL] and [YOUR_PASSWORD])
<pre>
<code>
curl -H "Content-Type: text/json" -X GET 'http://detection.myvhost.de/auth/?email=[YOUR_EMAIL]&pass=[YOUR_PASSWORD]' -i
</code>
</pre>
Initiate a new face detection request. (replace [YOUR_API_KEY], [YOUR_API_SECRET] and [YOUR_URL])
<pre>
<code>
curl -u [YOUR_API_KEY]:[YOUR_API_SECRET] -H "Content-Type: text/xml" -X POST 'http://detection.myvhost.de/detect/new/?url=[YOUR_URL]' -i -L
</code>
</pre>

