<center><%= render :partial => "shared/donate" %></center>
<h3>List of people that donated.</h3>
<p>not yet</p>
<h3>Credits</h3>
<p>The OpenSource communities around the world!</p>
<p>FRATNATION! You know :D</p>
<p><a href="http://www.sinatrarb.com/">Sinatra Ruby Gem</a> for the website
template. I contaced you on GitHub but you didn't reply. If you want me to
change the layout tell me.</p>
<h3>Badges</h3>
<p><a href="http://summerofrails.org/" target="new"><%= image_tag("sor_128.png") %></a></p>

