set :ui_server, 'localhost:3000'
set :host, 'localhost'
set :port, 3001
set :file_transfer_port, 4001

helpers do
  def logger
    LOGGER
  end
end

configure do
  LOGGER = Logger.new("runner.log")
end
